.content {
    display         : flex;
    flex-direction  : column;
    overflow-y      : auto;
    background-color: #DADEE7;
}

.content>.entity {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin        : 16px 0;
}

.content>.entity>.container>img {
    border: none;
}

.content>.entity>.container>.active {
    border: 1px solid red;
}

.content>.entity>.container {
    display        : flex;
    position       : relative;
    overflow       : auto;
    align-items    : center;
    justify-content: center;
}

.content>.entity>.controls {
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-top     : 1px dashed black;
    margin-top     : 16px;
    width          : 100%;
}

.content>.entity>.controls>button {
    margin: 8px;
    height: 24px;
}

.content>.entity>.controls>.zoom {
    width: 24px;
}

.content>.entity>.container>img {
    position  : absolute;
    top       : 0;
    left      : 0;
    box-shadow: 0 2px 8px #9DA8BE;
}

.toolbar {
    background-color: #FFFFFF;
    padding         : 4px;
}

.toolbar>.btn-size {
    height     : 40px;
    margin-left: 8px;
}

@media (max-height: 1800px) {

    .content>.entity>.container>img,
    .content>.entity>.container {
        height: 1754px;
        width : 1240px;
    }
}

@media (max-height: 1200px) {

    .content>.entity>.container>img,
    .content>.entity>.container {
        height: 846px;
        width : 600px;
    }
}

@media (max-height: 900px) {

    .content>.entity>.container>img,
    .content>.entity>.container {
        height: 705px;
        width : 500px;
    }
}